<mat-card class="visits-chart">
  <mat-card-title class="visits-chart__header">
      <h5 class="visits-chart__title">
          <mat-icon class="card-title-icon" *ngIf="icon">
              {{ icon }}
          </mat-icon>
          {{ title }}
      </h5>
  </mat-card-title>
  <hr class="divisor">
  <mat-card-content class="visits-chart__content">
      <div class="visits-chart__content-info" *ngFor="let item of content">
          <h6 class="visits-chart__content-info-title">
              <span class="info-title-label">
                  {{ item.label }}: 
              </span>
              {{ item.value }}
          </h6>
      </div>

  </mat-card-content>
</mat-card>