<mat-card class="visits-chart">
  <mat-card-title class="visits-chart__header">
      <h5 class="visits-chart__title">
          <mat-icon class="card-title-icon">dashboard</mat-icon>
          Dados da mesa
      </h5>
  </mat-card-title>
  <hr class="divisor">
  <mat-card-content class="visits-chart__content">
      <div class="visits-chart__content-info">
          <h6 class="visits-chart__content-info-title">
              <span class="info-title-label">
                  Número da mesa: 
              </span>
              <app-badge color="success">
                {{ mesaId }}
              </app-badge>
          </h6>
      </div>
      <div class="visits-chart__content-info">
        <h6 class="visits-chart__content-info-title">
            <span class="info-title-label">
                Valor do rodízio: 
            </span>
            {{ valorRodizio | currency: 'BRL' }}
        </h6>
    </div>
  </mat-card-content>
</mat-card>
