@import 'src/app/styles/colors';

.info-title-label {
    color: $sr-text-label;
}

.divisor {
    border: solid 1px #ccc;
    margin-bottom: 25px;
}

.card-title-icon, .card-title-icon * {
    display: inline-flex;
    padding: none;
    margin-top: auto;
    margin-bottom: auto;
}