<mat-card class="card-comanda">
  <mat-card-title class="card-comanda__header">
      <h5 class="card-comanda__title">
          <mat-icon class="card-title-icon">fact_check</mat-icon>
          Dados da comanda
      </h5>
  </mat-card-title>
  <hr class="divisor">
  <mat-card-content class="card-comanda__content">
      <div class="card-comanda__content__info">
          <h6 class="card-comanda__content__info-title">
              <span class="info-title-label">
                  Código: 
              </span>
              {{ comanda.comandaId }}
          </h6>
      </div>
      <div class="card-comanda__content__info">
        <h6 class="card-comanda__content__info-title">
            <span class="info-title-label">
                Quantidade de rodízios: 
            </span>
            {{ comanda.quantidadeClientes }}
        </h6>
      </div>
      <div class="card-comanda__content__info">
        <h6 class="card-comanda__content__info-title">
            <span class="info-title-label">
                Data/hora de início: 
            </span>
            {{ comanda.dataHoraEntrada | date: 'short' }}
        </h6>
      </div>
      <div class="card-comanda__content__info">
        <h6 class="card-comanda__content__info-title">
            <span class="info-title-label">
                Valor atual: 
            </span>
            {{ comanda.valor | currency: 'BRL' }}
        </h6>
      </div>
      <hr class="divisor">
      <div class="card-comanda__content__info">
        <h6 class="card-comanda__content__info-title">
            <span class="info-title-label">
                Status: 
            </span>
            <app-badge class="status-badge" color="success" *ngIf="comanda.paga; else comandaAberta">
              Finalizada
            </app-badge>
            <ng-template #comandaAberta>
              <app-badge color="success">
                Em aberto
              </app-badge>
            </ng-template>
        </h6>
      </div>
  </mat-card-content>
</mat-card>
