<mat-toolbar class="page-header" role="heading">
  
  <h1>
    <mat-icon>home</mat-icon>
    Home
  </h1>
  <button mat-raised-button class="btn-encerrar-atendimento" (click)="encerrarAtendimento()">
    Encerrar atendimento
  </button>
  
</mat-toolbar>

<div class="container-comanda-dados">
  <div class="card-comanda-dados">
    <app-card-mesa [mesaId]="comanda.mesaId"></app-card-mesa>
  </div>
  <div class="card-comanda-dados">
    <app-card-comanda [comanda]="comanda"></app-card-comanda>
  </div>
</div>

<app-pedidos-pendentes-lista [comandaId]="comanda.comandaId"></app-pedidos-pendentes-lista>

<!-- <app-footer></app-footer> -->