<mat-toolbar class="page-header" role="heading">
  
  <h1>
    <mat-icon>home</mat-icon>
    Home
  </h1>
  <button mat-raised-button class="btn-encerrar-atendimento" (click)="encerrarAtendimento()">
    Encerrar atendimento
  </button>
  
</mat-toolbar>

<div class="container-comanda-dados">
  <!-- <div> -->
    <div class="container-comanda-dados__card-mesa">
      <app-card-mesa [mesaId]="comanda.mesaId"></app-card-mesa>
    <!-- </div> -->
    <!-- <div class="card-comanda-dados"> -->
      <app-card-comanda [comanda]="comanda"></app-card-comanda>
    <!-- </div> -->
  </div>
  <div class="container-comanda-dados__card-pedidos-pendentes">
    <app-pedidos-pendentes-lista [comandaId]="comanda.comandaId"></app-pedidos-pendentes-lista>
  </div>
</div>

<!-- <app-footer></app-footer> -->