@import "src/app/styles/colors";

.produto-img {
    width: 175px;
    margin-right: 25px;
}

.mat-dialog-content {
    display: flex;
    flex-direction: column;
}

.first-row {
    display: flex;
    flex-direction: row;
}

.second-row {
    display: flex;
    width: 100%;
    // text-align: center;
    align-items: center;
    justify-content: center;
}

.product-data {
    display: flex;
    flex-direction: column;
}

.second-row input {
    text-align: center;
}

.btn-alterar-quantidade {
    background: $sr-bg-red;
    margin: 0 10px;
}

.input-quantidade {
    display: flex;
}

.actions {
    display: flex;
    float: right;
    margin-top: 15px;
}