<mat-toolbar class="page-header" role="heading">

  <h1>
    <!--<mat-icon>add</mat-icon>-->
    <app-back-page-button></app-back-page-button>
    Novo pedido
  </h1>

</mat-toolbar>

<mat-card>

  <div fxLayout="row" fxLayoutAlign="center center">

    <div class="container-categorias">
      <mat-chip-list aria-label="Categorias de produtos">
        <mat-chip *ngFor="let tipoProduto of categorias" (click)="buscarProdutos(tipoProduto)">
          {{ tipoProduto.descricao }}
        </mat-chip>
      </mat-chip-list>
    </div>

    <hr>

    <h4 class="lista-produtos-title">{{ categoriaAtual.descricao }}</h4>

    <div class="container-lista-produtos">
      <app-produto-container *ngFor="let produto of produtos" [produto]="produto">
      </app-produto-container>
    </div>

  </div>

</mat-card>