<mat-toolbar class="page-header" role="heading">
  
  <h1>
    <mat-icon>add</mat-icon>
    Novo pedido
  </h1>

</mat-toolbar>

<mat-card>

  <div fxLayout="row" fxLayoutAlign="center center">

    <div class="container-categorias">
      <mat-chip-list aria-label="Categorias de produtos">
        <app-tipo-produto-container *ngFor="let tipoProduto of categorias" [categoriaId]="tipoProduto.tipoProdutoId">
          {{ tipoProduto.descricao }}
        </app-tipo-produto-container>
      </mat-chip-list>
    </div>

    <h4>{{ categoriaAtual }}</h4>

    <div class="container-lista-produtos">
      <app-produto-container *ngFor="let produto of produtos" [produto]="produto">
      </app-produto-container>
    </div>

  </div>

</mat-card>