<mat-toolbar class="page-header" role="heading">
  
  <h1>
    <mat-icon>add</mat-icon>
    Novo pedido
  </h1>

</mat-toolbar>

<mat-card>

  <div fxLayout="row" fxLayoutAlign="space-evenly center">

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <div>
        felipe
      </div>
      <div>
        wesley
      </div>
      <div>
        felipe
      </div>
    </div>
    <div>
      <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>Sashimi</mat-grid-tile>
        <mat-grid-tile>Yakisoba</mat-grid-tile>
        <mat-grid-tile>Coca-Cola</mat-grid-tile>
        <mat-grid-tile>Suco de laranja</mat-grid-tile>
      </mat-grid-list>
    </div>

  </div>


</mat-card>