<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group">
        <mat-tab label="Novo">
          <h4 class="auth-page__group-title">Bem-vindo!</h4>
          
          <p class="auth-page__form-description">
            Para iniciar seu atendimento, preencha os campos abaixo.
          </p>

          <app-login-form></app-login-form>

        </mat-tab>
        <mat-tab label="Retomar">
          <h4 class="auth-page__group-title">Olá!</h4>
          
          <p class="auth-page__form-description">
            Para retomar um atendimento, informe o número da comanda.
          </p>

          <app-sign-form></app-sign-form>

        </mat-tab>
      </mat-tab-group>

      <p class="auth-page__footer-title">
        &copy; {{todayDate | year}}. Treinamento Techer.
      </p>
    </div>
  </div>
  <div class="auth-page__logo">
    <div class="auth-page__logo-wrapper">
      <img class="auth-page__logo-img" src="./assets/auth/logo.svg" alt="logo">
      <h6 class="auth-page__logo-title">Material Admin</h6>
    </div>
  </div>
</div>
