<h4 mat-dialog-title>Edição de pedido</h4>
<form [formGroup]="editarPedidoForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <div>
      Informe a nova quantidade que você deseja:
    </div>
    <div>
      <ul>
        <li>Produto: {{ pedido.produto.nome }}</li>
        <li>Quantidade atual: {{ pedido.quantidade }}</li>
      </ul>
    </div>

    <div>
      <mat-chip *ngIf="pedido.produto.quantidadePermitida > 0">
        Quantidade permitida: {{ pedido.produto.quantidadePermitida }}&nbsp;
        <span *ngIf="pedido.produto.quantidadePermitida === 1; else spanUnidades">
          unidade
        </span>
        <ng-template #spanUnidades>
          <span>unidades</span>
        </ng-template>
      </mat-chip>
    </div>

    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Nova quantidade</mat-label>
        <input matInput type="number" formControlName="novaQuantidade" min="1">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Fechar</button>
    <button mat-raised-button>Confirmar</button>
  </div>
</form>